.search-form {
  display: flex;
  align-items: center;
  flex-grow: 1;

  &::before {
    content: "";
    background-image: url("../images/icons/search_icon.svg");
    width: 14px;
    height: 14px;
    margin-right: 15px;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.search-form__input {
  border: none;
  font-family: inherit;
  font-size: 14px;
  color: $dark;
  padding: 2px;
  max-width: 200px;

  &::placeholder {
    font-family: inherit;
    font-size: 14px;
    color: $light-grey;
  }

  &:hover,
  &:focus {
    outline: 1px solid $gold;
  }
}
